body {
  padding-top: 71px;
  padding-bottom: 20px;
}

.navbar-inverse .navbar-nav > a {
  -webkit-font-smoothing: subpixel-antialiased;
}

* + .card {margin-top: 2rem;}

.progress + .progress {margin-top: 1rem;}

*:last-child {margin-bottom: 0;}