/* MAIN */


// GLobal elements

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font-family-sans-serif;
}


// Buttons

.btn {
  text-transform: uppercase;
  border-width: 2px;
  &-primary {
    @include cru-button-variant($btn-primary-color, $btn-primary-color, $btn-primary-bg, $cru-bahama-blue-dark, transparent, transparent);
    &.btn-light {
      @include cru-button-variant($cru-bahama-blue, $cru-bahama-blue-dark, $color-white, $cru-scorpion-light, transparent, transparent);
    }
  }
  &-secondary {
    @include cru-button-variant($cru-bahama-blue, $color-white, transparent, $cru-bahama-blue-dark, $cru-bahama-blue, $cru-bahama-blue-dark);
    &.btn-light {
      @include cru-button-variant($color-white, $cru-bahama-blue-dark, transparent, $cru-scorpion-light, $color-white, transparent);
    }
  }
  &-success {
    @include cru-button-variant($btn-success-color, $btn-success-color, $btn-success-bg, $cru-scooter-dark, transparent, transparent);
  }
  &-info {
    @include cru-button-variant($btn-info-color, $btn-info-color, $btn-info-bg, $color-bs-green-dark, transparent, transparent);
  }
  &-warning {
    @include cru-button-variant($btn-warning-color, $btn-warning-color, $btn-warning-bg, $cru-buttercup-dark, transparent, transparent);
  }
  &-danger {
    @include cru-button-variant($btn-danger-color, $btn-danger-color, $btn-danger-bg, $cru-tango-dark, transparent, transparent);
  }
  &-link {
    @include cru-button-variant($cru-bahama-blue, $cru-bahama-blue, transparent, transparent, transparent, transparent);
  }
  &.disabled, &:disabled {
    @include cru-button-variant($cru-scorpion-alt, $cru-scorpion-alt, $cru-scorpion-light, $cru-scorpion-light, transparent, transparent);
    opacity: 1;
  }
}


// Form fields

.form-control {
  border-width: 0 0 2px;
  padding-left: 0;
}

.form-group {
  .form-check {
    label {
      margin-bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  label {
    text-transform: uppercase;
    font-size: $font-size-sm;
    color: $cru-scorpion !important;
    letter-spacing: 1.4px;
    font-weight: bold;
    line-height: (1rem * $line-height-base);
  }
}

/* .upload {
  .btn {
    position: relative;
    overflow: hidden;
    &-primary, &-success, &-info, &-warning, &-danger {
      label {
        color: $color-white;
        font-size: $font-size-base;
      }
    }
  }
  label {margin-bottom: 0;}
  input {vertical-align: top;}
  input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    max-width: 100%;
    height: 100%;
    filter: alpha(opacity=0);
  }
  #uploadFile {
    font-size: $font-size-base;
    line-height: 46px;
    border: none;
    padding: 0;
    margin-left: 12px;
    // @include placeholder($color: $cru-scorpion);
  }
  .help-block {
    font-size: 12px;
    color: $cru-scorpion-alt;
  }
} */


// Custom forms

.custom-control .custom-control-indicator {
  border: $cru-scooter 2px solid;
}

.custom-checkbox .custom-control-indicator {
  border-radius: 0;
}


// Navs

.nav-tabs {
  .nav-item {
    font-weight: 600;
    margin-right: 2px;
    text-transform: uppercase;
    &:last-child {margin-right: 0;}
  }

  .nav-link {
    border-color: $cru-scorpion-light $cru-scorpion-light $cru-scooter-dark;
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-bottom-color: $cru-scooter-dark;
  }
}


// Pagination

.pagination.pager {
  .page-item {
    margin-left: $grid-gutter-width-base;
    margin-right: $grid-gutter-width-base;
    &:first-child {margin-left: 0;}
    &:last-child {margin-right: 0;}
  }
  .mdi-chevron-left {margin-right: 20px;}
  .mdi-chevron-right {margin-left: 20px;}
}

.page-item {
  padding-left: .5rem;
  padding-right: .5rem;
  &.active .page-link {
    font-weight: 700;
  }
}

.page-link {
  margin-left: 0;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  text-transform: uppercase;
  font-weight: 600;
}


// Badges

.badge {
  text-transform: uppercase;
}

.badge-default {
  @include cru-badge-variant($badge-default-bg, $cru-scooter-dark);
}

.badge-primary {
  @include cru-badge-variant($badge-primary-bg, $cru-bahama-blue-dark);
}

.badge-success {
  @include cru-badge-variant($badge-success-bg, $cru-scooter-dark);
}

.badge-info {
  @include cru-badge-variant($badge-info-bg, $color-bs-green-dark);
}

.badge-warning {
  @include cru-badge-variant($badge-warning-bg, $cru-buttercup-dark);
}

.badge-danger {
  @include cru-badge-variant($badge-danger-bg, $cru-tango-dark);
}


// Progress bars

.progress {
  .progress-bar {
    &:last-of-type {
      @include border-right-radius($progress-border-radius);
    }
  }
}


// Close

.close {
  text-shadow: none;
  opacity: .5;
  &:hover, &:focus {
    opacity: 1;
  }
}


// Tooltip

.tooltip {
  font-size: .75rem;
  h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: 600;
  }
  h1 {font-size: 1.2rem;}
  h2 {font-size: 1.1rem;}
  h3 {font-size: 1rem;}
  h4 {font-size: .9rem;}
}
