/* VARIABLES */

// Colors

$cru-bahama-blue:               #05699B;
  $cru-bahama-blue-light:       #BED7E6;
  $cru-bahama-blue-alt:         #3282AF;
  $cru-bahama-blue-dark:        #00557D;

$cru-scooter:                   #32C3D7;
  $cru-scooter-light:           #D7F0F5;
  $cru-scooter-alt:             #87D2E1;
  $cru-scooter-dark:            #2DAFC3;

$cru-buttercup:                 #F5BE19;
  $cru-buttercup-light:         #FAE6A5;
  $cru-buttercup-alt:           #FACD46;
  $cru-buttercup-dark:          #E6AF28;

$cru-scorpion:                  #5A5A5A;
  $cru-scorpion-light:          #E6E6E6;
  $cru-scorpion-alt:            #BEBEBE;
  $cru-scorpion-dark:           #323232;

$cru-tango:                     #EB8223;
  $cru-tango-light:             #F5BE87;
  $cru-tango-alt:               #F5A055;
  $cru-tango-dark:              #D77328;

$color-white:                   #FFFFFF;


// Bootstrap overrides


  // Colors
  $brand-primary:               $cru-bahama-blue;
  $brand-success:               $cru-scooter;
  $brand-info:                  #5cb85c; // BS success default
  $brand-warning:               $cru-buttercup;
  $brand-danger:                $cru-tango;


  // Scaffolding
  $link-color:                  $cru-scooter;
  $link-hover-color:            $cru-scooter-dark;


  // Typography
  $font-family-sans-serif:      'Source Sans Pro', sans-serif;
  $font-size-base:              16px; // weights: 200, 300, 400, 600, 700, 900


  // Buttons
  $btn-border-radius-base:      3px;


  // Forms
  $input-color:                 $cru-scorpion;
  $input-border:                $cru-scorpion-light;
  $input-border-radius:         0;
  $input-border-focus:          $cru-scooter;
  $input-color-placeholder:     $cru-scorpion;


  //== Pagination
  $pagination-border:           transparent;

  //$pagination-hover-color:      
  $pagination-hover-bg:         $color-white;
  $pagination-hover-border:     transparent;

  $pagination-active-color:     $link-hover-color;
  $pagination-active-bg:        $color-white;
  $pagination-active-border:    $link-hover-color;


  // Form states and alerts
  $state-success-text:          $cru-scorpion;
  $state-success-bg:            $cru-scooter-light;
  $state-success-border:        $cru-scooter;

  $state-info-text:             $cru-scorpion;
  $state-info-bg:               #dff0d8; // BS success default
  $state-info-border:           $brand-info;

  $state-warning-text:          $cru-scorpion;
  $state-warning-bg:            $cru-buttercup-light;
  $state-warning-border:        $cru-buttercup;

  $state-danger-text:           $cru-scorpion;
  $state-danger-bg:             $cru-tango-light;
  $state-danger-border:         $cru-tango;


  // Progress bars
  $progress-bg:                 $cru-scorpion-light;


  // Close
  $close-color:                 $cru-scorpion;
