/* VARIABLES */

// Colors

$cru-bahama-blue:               #05699B;
  $cru-bahama-blue-light:       #BED7E6;
  $cru-bahama-blue-alt:         #3282AF;
  $cru-bahama-blue-dark:        #00557D;

$cru-scooter:                   #32C3D7;
  $cru-scooter-light:           #D7F0F5;
  $cru-scooter-alt:             #87D2E1;
  $cru-scooter-dark:            #2DAFC3;

$cru-buttercup:                 #F5BE19;
  $cru-buttercup-light:         #FAE6A5;
  $cru-buttercup-alt:           #FACD46;
  $cru-buttercup-dark:          #E6AF28;

$cru-scorpion:                  #5A5A5A;
  $cru-scorpion-light:          #E6E6E6;
  $cru-scorpion-alt:            #BEBEBE;
  $cru-scorpion-dark:           #323232;

$cru-tango:                     #EB8223;
  $cru-tango-light:             #F5BE87;
  $cru-tango-alt:               #F5A055;
  $cru-tango-dark:              #D77328;

$color-white:                   #FFFFFF;

$color-bs-green:                #5cb85c; // BS success default
  $color-bs-green-light:        #dff0d8; // BS success default
  $color-bs-green-dark:         darken($color-bs-green, 10%);


// Bootstrap overrides

  // Colors
  $brand-primary:               $cru-bahama-blue;
  $brand-success:               $cru-scooter;
  $brand-info:                  $color-bs-green;
  $brand-warning:               $cru-buttercup;
  $brand-danger:                $cru-tango;


  // Links
  $link-color:                  $cru-scooter;
  $link-hover-color:            $cru-scooter-dark;


  // Fonts
  $font-family-sans-serif:      'Source Sans Pro', sans-serif; // weights: 200, 300, 400, 600, 700, 900

  $font-size-sm:                .875rem;


  // Buttons
  $btn-padding-x:               28px;
  $btn-padding-y:               10px;
  $btn-font-weight:             600;
  $btn-box-shadow:              none;
  $btn-focus-box-shadow:        none;
  $btn-active-box-shadow:       none;

  $btn-secondary-color:         $brand-primary;
  $btn-secondary-border:        $brand-primary;

  $btn-border-radius:           3px;


  // Forms
  $input-color:                                 $cru-scorpion;
  $input-border-color:                          $cru-scorpion-light;

  $input-border-radius:                         0;

  $input-border-focus:                          $cru-scooter;

  $input-color-placeholder:                     $cru-scorpion;

  $custom-control-indicator-bg:                 transparent;

  $custom-control-indicator-size:               $font-size-sm;
  $custom-control-checked-indicator-bg:         $cru-scooter;

  $custom-control-focus-indicator-box-shadow:   none;

  $custom-checkbox-checked-icon:                none;

  $custom-radio-checked-icon:                   none;


  // Navs
  $nav-tabs-border-color:                       $cru-scooter-dark;
  //$nav-tabs-border-width:                       2px;
  $nav-tabs-link-hover-border-color:            $cru-scooter-dark;
  $nav-tabs-active-link-hover-color:            $cru-scooter-dark;
  $nav-tabs-active-link-hover-border-color:     $cru-scooter-dark;


  // Pagination
  $pagination-padding-x:        4px;
  $pagination-padding-y:        3px;
  $pagination-border-width:     2px;
  $pagination-border-color:     transparent;
     
  $pagination-hover-bg:         $color-white;
  $pagination-hover-border:     transparent;

  $pagination-active-color:     $link-hover-color;
  $pagination-active-bg:        $color-white;
  $pagination-active-border:    $link-hover-color;


  // Form states and alerts
  $state-success-text:          $cru-scorpion;
  $state-success-bg:            $cru-scooter-light;
  $state-success-border:        $cru-scooter;

  $state-info-text:             $cru-scorpion;
  $state-info-bg:               $color-bs-green-light;
  $state-info-border:           $brand-info;

  $state-warning-text:          $cru-scorpion;
  $state-warning-bg:            $cru-buttercup-light;
  $state-warning-border:        $cru-buttercup;

  $state-danger-text:           $cru-scorpion;
  $state-danger-bg:             $cru-tango-light;
  $state-danger-border:         $cru-tango;


  // Tooltips
  $tooltip-max-width:           260px;
  $tooltip-bg:                  $cru-scorpion-dark;
  $tooltip-opacity:             1;
  $tooltip-padding-y:           20px;
  $tooltip-padding-x:           40px;


  // Badges
  $badge-default-bg:            $brand-success;

  $badge-font-size:             $font-size-sm;
  $badge-font-weight:           600;


  // Alerts
  $alert-padding-x:             1rem;
  $alert-padding-y:             1rem;
  $alert-border-width:          0;


  // Progress bars
  $progress-height:             5px;
  $progress-bg:                 $cru-scorpion-light;
  $progress-border-radius:      10rem;


  // Close
  $close-color:                 $cru-scorpion;
